
.small {
    font-size: small;
}



.bold {
    font-weight: bold;
}

nav {
    border-bottom: 1px solid black;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 16px;
    padding-right: 16px;
}

img {
    height: 200px;
    width: 200px;
    margin: 0px;
}
main {
    padding: 16px;
}
body {
    margin: 0px;
    padding: 0px;
}
footer {
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 10px;
    padding-right: 0px;
    position: absolute;
}
