{% extends 'base.html' %}
{% block title %} Create Review {% endblock title %}
{% load static %}
    {% block content %}
    <main>
        <form method = 'post'>
            {% csrf_token %}
            {{ form.as_p }}
            <button>Post Review</button>
        </form>
    </main>
    {% endblock content %}
