{% extends 'base.html' %}
{% block title %}
{{ reviews_objects.title }} - Totallly Non-Biased Reviews
{% endblock title %}
{% load static %}
    
    {% block content %}


        <main>
            <h1>
                <a class="small" href="{% url 'edits' reviews_objects.id %}"> Edit Review</a>
            </h1>
            <h2>
                {{ reviews_objects.title}}
            </h2>
            <img src = '{{reviews_objects.game_cover}}'>
            <p>{{ reviews_objects.review }}</p>
            <p class="bold"> {{reviews_objects.rating}} </p>
            <div> reviewers name: {{ reviews_objects.reviewer }}</div>
            <div> review date: {{ reviews_objects.review_published_date }} </div>

        </main>

    {% endblock content %}
