{% extends 'base.html' %}
{% block title %}Edit{% endblock title %}
{% load static %}
{% block content %}
<main>
    <form method = 'post'>
        {% csrf_token %}
        {{ form.as_p}}
        <button>Update</button>
    </form>
</main>
{% endblock content %}
