{% extends 'base.html' %}
{% block title %} Totally Non-Biased Reviews {% endblock title %}
{% load static %}

    {% block content %}


        <main>
            <h1>Games list</h1>
            <div>
                {% for review in list %}
                <div>
                    <h2>
                        <a href="details/{{review.id}}">{{review.title}}</a>

                    </h2>
                    <img src = '{{review.game_cover}}'>
                    <div class = 'bold'> Rating!: {{ review.rating }}/10</div>
                    <div>Reviewed by: {{review.reviewer}}</div>
                </div>
                {% endfor %}
            </div>
        </main>

    {% endblock content %}
