{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/rating.css' %}">
</head>

<body>
    <header>
        <nav>
            <a href="{% url 'game_list' %}">Home </a>
            <a href='{% url "create"%}'> Create Review</a>
        </nav>
    </header>
    {% block content %}{% endblock content %}
    <footer>These are most definitely non-biased reviews </footer>
</body>
</html>
